@CHARSET "UTF-8";
div.form{
	display: inline-block;
	width:50%;
	/*vertical-align: top;*/
}
	div.form input{
		width:45%;
		vertical-align: top;
	}
	div.form label{
		width: 45%;
		font-size: 1.5em;
		font-weight: bold;
		text-align: right;
		color:black;
		margin-right: 5%;
	}
	div.form label span{
		font-style: italic;
		font-weight: lighter;
		font-size: 0.5em;
		color:gray;
		clear: both;
	}